
.content {
  height: 75vh;
  text-align: center;
}


/* Header section */
.header {
  text-align: center;
  background-color: royalblue;
  color: #fff;
  margin-top: 60px;
  padding: 5px;
  }

/* Footer section */
.footer {
  text-align: center;
  background-color: royalblue;
  color: #fff;
  padding: 5px;
  }
